<!-- wp:template-part {"slug":"header", "className":"site-header"} /-->

<!-- wp:group {"className" : "site-content content-area"} -->
<div id="primary" class="site-content content-area">
    <!-- wp:group {"tagName":"main"} -->
    <main id="main" class="site-main wp-block-group">
        <div class="container-small">
            <header class="page-header">
                <h1 class="page-title">נראה שאין כאן כלום. </h1>
            </header>
            <p>נראה שלא נמצא כלום במיקום הזה.  <a href="/">חזרה לדף הבית</a> </p>
            <br>
        </div>
    </main>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
