<!-- wp:template-part {"slug":"header", "className":"site-header"} /-->

<!-- wp:group {"className" : "site-content content-area"} -->
<div id="primary" class="site-content content-area">
    <!-- wp:group {"tagName":"main"} -->
    <main id="main" class="site-main wp-block-group">


        <header class="entry-header">
            <!-- wp:post-title {"level":1, "className" : "entry-title"} /-->
        </header><!-- .entry-header -->

        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    </main>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
